body {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.items-container {
    flex-grow: 1;
}

.item-container {
    max-height: 400px;
}

.footer {
    background-color: var(--secondary-color);
    min-height: 7rem;
    width: 100%;
    padding: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
}